@import '../../variables.scss';

.wrapper {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  @media (max-width: $mediumLargeScreen) {
    flex-direction: column;
  }

  form {
    max-width: 32rem;
    padding: 4rem 0 0 4rem;

    @media (max-width: $mediumLargeScreen) {
      padding: 1rem;
    }

    input[type='text'] {
      font-size: 1rem;
      width: 100%;
      padding: 0.4rem;
      margin-top: 0.5rem;

      &:last-child {
        margin-bottom: 0.5rem;
      }
    }

    input[type='checkbox'] {
      margin-right: 0.3rem;
    }

    .checkboxWrapper {
      margin: 1rem 0;

      .hiddenText {
        color: white;
      }
    }

    .btnWrapper {
      width: fit-content;

      button {
        margin-top: 1rem;
      }
    }
  }
}
