// misc
$borderRadiusSmall: 3px;

// breakpoints
$smallScreen: 576px; // portrait phones
$mediumScreen: 768px; // tablets
$mediumLargeScreen: 992px; // laptops
$largeScreen: 1200px; // large devices

// colors
$black: black;
$darkgray: #636363;
$gray: gray;
$lightgray: lightgray;
$white: white;

$smoothBlue: #357edd;
